<ul class="list-unstyled">
  <li class="media">
    <img src="/assets/badges/<%= badge.image %>" class="mr-3" alt="badge image">
    <div class="media-body">
      <h5 class="mt-0 mb-1"><%= badge.title %></h5>
      <%= badge.description %>
    </div>
  </li>
</ul>

