<tr>
  <td class="align-middle"><%= link_to truncate(gist.question.body, length: 25), admin_question_path(gist.question) %></td>
  <td class="align-middle"><%= link_to gist.url, gist.url %></td>
  <td class="align-middle"><%= gist.user.email %></td>
</tr>
