<h1> You complited <%= @test_passage.test.title %> test</h1>

  <h2>Test Pass Information:</h2> 
  <h3><%= test_complete_message(@test_passage) %></h3>
  <h4>The percentage of correct answers was: <%= colored_result(@test_passage) %></h4>

<%= link_to "Back", tests_path %>
