<h2><%= t('.header', title: @test_passage.test.title) %></h2>
<h3><%= t('.question_numbers', first: @test_passage.current_question_number, second: @test_passage.test.questions.size) %></h3>

<p>
  <%= @test_passage.current_question.body %>
</p>

<%= render "form" %>
