<h1 class="display-4 text-center"><%= t('.header') %></h1>

<div class="card border-success rounded">
  <div class="card-body">

    <%= render "form" %>

    <p>
      <%= link_to t('.back'), admin_test_path(@question.test), class: "btn btn-secondary btn-sm float-right" %>
    </p>
  </div>
</div>
