<h1 class="display-4 text-center"><%= t('.header', title: @test.title) %></h1>

<div class="card border-success rounded">
  <div class="card-body">

    <%= render "form" %>

    <p>
      <%= link_to t('.back'), admin_tests_path, class: 'btn btn-secondary btn-sm float-right' %>
    </p>
  </div>
</div>
