<footer class="footer">
  <small>
    Created by Babitsky Alexandr under the leadership of <%= link_to 'Thinknetica', 'https://thinknetica.com' %> in <%= current_year %>
    <p><%= octicon "logo-github", height: 15 %> project model: <%= github_url('tailssavarin', 'test-guru') %></p>
  </small>
</footer>
