<div class="footer">
  <small>
    <p>
      This application designet to create, management and perform various tests.<br>
      Author: Babitsky Alexandr by <%= other_url('thinknetica') %><br>
      Github projet model: <%= github_url('Tailssavarin', 'test-guru') %><br>
      Founded in <%= current_year %>
    </p>
  </small>
</div>
