<div class="navbar-fixed-bottom row-fluid">
  <div class="navbar-inner">
    <div class="container">
        <small>
          This application designet to create, management and perform various tests.<br>
          Author: Babitsky Alexandr by <%= other_url('thinknetica') %><br>
          GitHub projet model: <%= github_url('Tailssavarin', 'Test-Guru') %><br>
        </small>
    </div>
  </div>
</div>
